<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Bo'limlar</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css'>
    <link rel="stylesheet" href="{% static 'bl/style.css'%}">

</head>
<body>
<body>
<section id="recipes">
    <div class="recipe-container">
        <h1>Bo'limlar</h1>
        <div class="container">
            <a href="/user/logout/" class="logout-btn">
                <button>Logout</button>
            </a>
        </div>
        <div class="swiper">
            <div class="swiper-wrapper">

                <div class="swiper-slide post">
                    <a href="/asosiy/products/">

                        <img
                                class="post-img"
                                src="{% static 'bl/boxes.jpg'%}"
                                alt="recipe"/>
                    </a>

                    <div class="post-body">
                        <div class="post-detail">
                            <h2 class="post-name">Products</h2>
                            <p class="post-author">Evelyn Taylor</p>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide post">
                    <a href="/asosiy/clients/">

                        <img class="post-img"
                             src="{% static 'bl/clients.jpg'%}"
                             alt="recipe"/>
                    </a>

                    <div class="post-body">
                        <div class="post-detail">
                            <h2 class="post-name">Clients</h2>
                            <p class="post-author">Ethan Wilson</p>
                        </div>

                    </div>
                </div>


                <div class="swiper-slide post">
                    <a href="/stats/">
                        <img
                                class="post-img"
                                src="{% static 'bl/stats.jpg'%}"
                                alt="recipe"/>
                    </a>

                    <div class="post-body">
                        <div class="post-detail">
                            <h2 class="post-name">Stats</h2>
                            <p class="post-author">Mia Dixon</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-scrollbar"></div>
        </div>
    </div>
</section>
</body>
<!-- partial -->
<script src='https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js'></script>
<script src="{% static 'bl/script.js'%}"></script>

</body>
</html>
