<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap-4.3.1/bootstrap-4.3.1/dist/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/css.css'%}">
    <title>Ombor</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Bo`limlar</h2>
            </div>
        </div>
        <div class="row w-75 m-auto">
            <div class="col-md-6 mb-4">
                <a href="/products/" class="btn btn-dark btn-block py-5">
                    Mahsulot
                </a>
            </div>
            <div class="col-md-6 mb-4">
                <a href="/clients/" class="btn btn-success btn-block py-5">
                    Client
                </a>
            </div>
            <div class="col-md-12">
                <a href="/stats/" class="btn btn-warning btn-block py-5">
                    Statistika
                </a>
            </div>
        </div>
    </div>
    <script src="{% static 'js/main.js'%}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>
